header {
    border: 2px solid  #df8200;

}

a:hover {
    border: 15px solid #90df3a;

}

#content {
    margin: 2px auto;
    width: 1000px;
    border: 40px solid #df0042;
    padding: 10px auto;

}
