a:link {
    color: #5367ff;

}
a:visited {
    color: #1fff00

}

a:hover {
    color: #ff1600;
    text-decoration: none;

}

a:active {
    color: #ff00d9

}

p {
    color: #27fdff;
    text-decoration: #ff00ea;
}

.border {
    border: 1px dotted #3f09a7;
    border-bottom: 2px dashed #e4001f
}
